:root {
  font-family: "Zen Dots", cursive, sans-serif;
  line-height: 1.2;
  font-weight: 400;

  background-color: #2b2b2b;
  color: #f8f8ff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Text variables */
  --h1: 6rem;
  --h2: 4.6rem;
  --h3: 4.2rem;
  --h4: 3.2rem;
  --subtitle: 3.6rem;
  --text: 2.1rem;
  --notation-text: 2rem;
  --small-text: 1.2rem;

  /* Colors variables */
  --Dark-theme-color: #2b2b2b;
  --White: #f8f8ff;
  --Block-color: #3a3a3a;
  --Green-neon-color: #45d900;
  --Orange-neon-color: #ffa500;
  --Neon-pink-color: #f40167;
  --Blue-color: #499eff;
  --Yellow-color: #ffc800;
  --Mint-color: #00f241;
  --Turquoise-color: #1ce9b5;
  --Violet-color: #df41fb;
  --Crimson-color: #f50056;
  --Rice-color: #ede7e7;
  --Tube-gradient: linear-gradient(180deg, #45d900 0%, #f40157 100%);

  /* Size variables */
  --grid-rows: 20;
  --grid-columns: 10;
  --square-length: 20px;
  --grid-gap: 4px;
  --grid-height: calc(
    var(--square-length) + var(--grid-gap) - 2 * var(--grid-rows)
  );
  --grid-width: calc(
    var(--square-length) + var(--grid-gap) - 2 * var(--grid-columns)
  );
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  margin: 0 auto;
  max-width: 1100px;
}

header {
  width: 100%;
  height: 12vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  opacity: 40%;

  font-size: var(--h1);
  color: transparent;
  text-align: center;
  letter-spacing: 0.48rem;

  -webkit-text-stroke: 2px var(--Green-neon-color);
}

main {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-items: center;
  height: 80vh;
  width: 100%;
  padding-block-start: 8px;
}

section.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 260px;
  text-align: center;
  font-size: var(--text);

  & h2 {
    & span {
      font-size: var(--h2);
      color: var(--Neon-pink-color);
    }
  }

  & p {
    & span {
      color: var(--Orange-neon-color);
    }
  }

  & ul {
    text-align: start;
    margin-inline-start: 5%;

    & li {
      padding-block-end: 4px;
      &::marker,
      &:first-child {
        color: var(--Green-neon-color);
      }

      &:nth-child(2) {
        padding-block-end: 0;
      }
    }
  }
}

section.game {
  height: 100%;
  width: 100%;

  display: grid;
  justify-content: center;
  grid-template-columns: 6px auto 6px;

  & .tube {
    content: "";
    height: var(--grid-height);
    width: auto;
    border: 2px solid transparent;
    border-image: var(--Tube-gradient) 18%;
  }

  & #game-grid {
    grid-column: 2;

    height: var(--grid-height);
    width: var(--grid-width);

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
    justify-items: center;
    align-items: center;
    gap: var(--grid-gap);

    padding: 0 4px;

    border: 2px solid transparent;
    border-left: 0;
    border-right: 0;
    border-image: var(--Tube-gradient) 18%;

    background-color: transparent;

    & .grid-item {
      width: var(--square-length);
      height: var(--square-length);
      background-color: var(--Block-color);
    }
  }
}

section.instructions {
  align-self: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  width: 170px;
  margin-block-start: 16px;

  color: var(--Orange-neon-color);

  & h3 {
    text-align: center;
    font-size: var(--h4);
  }
}

.primary-buttons,
.secondary-buttons {
  padding-inline-start: 4px;
}

.buttons-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-areas:
    ". up up-caption"
    "left down right"
    "left-caption down-caption right-caption";

  font-size: 10px;

  & .up-key {
    grid-area: up;
  }
  & .up-caption {
    grid-area: up-caption;
    align-self: center;
  }
  & .left-key {
    grid-area: left;
  }
  & .left-caption {
    grid-area: left-caption;
    object-fit: cover;
    height: 20px;
    width: 32px;
  }
  & .down-key {
    grid-area: down;
  }
  & .down-caption {
    grid-area: down-caption;
    padding-block-start: 4px;
  }
  & .right-key {
    grid-area: right;
  }
  & .right-caption {
    grid-area: right-caption;
    object-fit: cover;
    height: 20px;
    width: 32px;
    margin-inline-end: 14px;
  }

  & .left-caption,
  .down-caption,
  .right-caption {
    place-self: center;
  }
}

.secondary-buttons {
  & figure {
    display: flex;
    justify-content: start;
    align-items: center;

    & img {
      transform: rotateX(14deg);
    }
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

footer {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: end;

  font-size: var(--small-text);

  & .acknowledgments {
    grid-column: 2;
    text-align: center;
  }

  & .socials {
    justify-self: end;
    grid-column: 3;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4px;

    & a {
      display: block;
      display: grid;
      place-content: center;
      width: 36px;
      height: 36px;
      border-radius: 4px;
    }

    & a:hover,
    a:active,
    a:focus {
      background-color: var(--White);
    }
  }
}

a {
  font-size: inherit;
  text-decoration: none;
}

.acknowledgments a {
  color: var(--Neon-pink-color);
}

a:hover {
  color: var(--Mint-color);
}
a:focus,
a:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
